.Address{
    background-color:#F4F4FA;
    border:5px outset #C2CFEE;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    margin:5px 10px;
    padding-left:20px;
    padding-right: 20px;
}

.Address-Section{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}