.App{
    background-color: #F4F4FA;
    border: 5px ridge #C2CFEE;
    width:80%;
    display:flex;
    flex-direction:column;
    align-items:center;
    margin: 10vh auto;
}

.App h1{
    text-align:center;
    
}